Source: async-modbus
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/tiagocoutinho/async_modbus

Package: python3-async-modbus
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: python3-anyio, python3-trio
Description: Async ModBus python library
 A thin layer on on top of the umodbus library providing an object oriented
 client API.
 .
 async_modbus is async library agnostic. You should be able to use it with
 asyncio, curio, trio, or anyio.

